<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign in</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/footer.css">
        <link rel="stylesheet" href="../../static/css/sign_up_in.css">
    </header>
    <body>
        <div class="container">
            <form class="signup" action="{{ url_for('sign_in') }}" method="post">
                
                <div class="header">
                    <a href="/"><img class="logo" src="../../static/images/logo.png" alt="logo"></a>
                    <h3>Log in or <a class="blue" href="sign_up">Sign up</a></h3>
                </div>
                
                <div class="inputs">
                    <input type="email" name="email" placeholder="e-mail" required autofocus />
                    <input type="password" name="password" placeholder="password" required />

                    <div class="msg">{{ msg }}</div>
                    <input type="submit" class="button" value="Login">
                </div>
            </form>
        </div>
        <footer class="footer_full">
            <span>Copyright © 2019 <a href="https://github.com/olgapashneva" target="blank">Me</a>. 
            All rights reserved.</span>
        </footer>
    </body>
</html>
